.form__link-login {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin: 15px 0 20px;
  color: #FFF;
  text-decoration: none;
  transition: 0.5s ease;
  text-align: center;
}

.form__link-login:hover {
  opacity: .6;
}
