.profile__profession {
  margin: 9px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 520px;
}

@media screen and (max-width: 650px) {
  .profile__profession {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .profile__profession {
    font-size: 14px;
    line-height: 17px;
  }
}
