.elements__heart {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  color: #FFF;
  margin: 0;
  transition: .5s ease;
  cursor: pointer;
  border: 0;
  background-color: #FFF;
  padding: 0;
}

.elements__heart:hover {
  opacity: .5;
}
